#turnosProfesional {
    display: none;
}

#turnosPaciente {
    display: none;
}
.turno_profesional{
    float: left;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #2E6E9E;
    padding: 2px;
    margin: 2px;
    height: 45px;
}
.cel_horario{
    width: 90%;
    float: left;
    background-color: #C2DCEE ;
}
.turno{
    float: left;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #2E6E9E;
    padding: 2px;
    margin: 2px;
    height: 45px;
}
#col_horario{
    width: 100px;
    float: left;
    /*margin-right: 7px;*/
    font-weight:bold;
}
#col_horarioProfesional{
    width: 100px;
    float: left;
    /*margin-right: 7px;*/
    font-weight:bold;
}
.turno_paciente{
    float: left;
    width: 90%;
    border-style: solid;
    border-width: 1px;
    border-color: #2E6E9E;
    padding: 2px;
    margin: 2px;
    height: 45px;
    color: #04F;
}
#paciente-toolbar-options{
    display: none;    
}
#personal-toolbar-options{
    display: none;    
}
.observaciones_turno{
    border-color: #f00;
}
.personal_ausente{
    background-color: rgba(255,0,0,0.5);
}
.personal_tarde{
    background-color: rgba(255,255,0,0.5);
}
.paciente_ausente{
    background-color: rgba(255,125,125,0.5);
}
.paciente_tarde{
    background-color: rgba(255,246,34,0.5);
}
.reunion_equipos{
    background-color: rgba(255,246,34,0.5);
}